# Primaire site (Nederlands, dit repo / deploy .nl)
NEXT_PUBLIC_SITE_URL=https://www.salvadoribiza.nl
# Alternatieve domeinen (zelfde paden, hreflang)
NEXT_PUBLIC_SITE_URL_EN=https://www.salvadoribiza.com
NEXT_PUBLIC_SITE_URL_ES=https://www.salvadoribiza.es
# Optioneel: x-default wijst naar .nl i.p.v. .com
# NEXT_PUBLIC_HREFLANG_X_DEFAULT=nl

# next-sitemap (postbuild); gelijk houden aan NEXT_PUBLIC_SITE_URL
SITE_URL=https://www.salvadoribiza.nl
